*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
input,label{
    display: block;
    align-items: center;
}
label{
    color: goldenrod;
}
input{
    width: 60%;
}
.submit
{
   
    width: 40%;
    background-color: blue;
    border-radius: 5px;
    margin: auto;
}
form{
    
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: solid;
    padding: 10px;
}